@font-face {
    font-family: 'GyeonggiBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "Times New Roman"
}

#problems{
	margin-left: 8vw;
	margin-right: 8vw;
	margin-top: 2vh;

	text-align: center;
}

.problem{
	font-family: "Times New Roman";
	color: black;
	background-color: rgb(252, 135, 135);
	
	border: 0px solid;
	border-radius: 5px;
	cursor: pointer;
	
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-top: 0.5em;
	padding-left: 0.2em;
	padding-right: 0.2em;

	font-size: 15pt;
}

#lecture1{
	display: none;
}
#lecture2{
	display: none;
}
#lecture3{
	display: none;
}
#lecture4{
	display: none;
}
#lecture5{
	display: none;
}
#lecture6{
	display: none;
}
#lecture7{
	display: none;
}
#lecture8{
	display: none;
}
#lecture9{
	display: none;
}
#lecture10{
	display: none;
}
#lecture11{
	display: none;
}
#lecture12{
	display: none;
}
#lecture13{
	display: none;
}