/* Document card 스타일 */
.wrapper .main-content .document-card {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    box-sizing: border-box;


    display: flex;
    flex-direction: column;
}

.wrapper .main-content .document-card:hover {
    transform: translateY(-5px);
}

.wrapper .main-content .document-card h2 {
    margin: 0 0 10px;
    padding: 0;
    word-wrap: break-word;
    font-size: min(1em, 18px);
    width: 100%;

    /*let the title have as much as high size*/
    flex-grow: 1;
}

.wrapper .main-content .document-card p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #555;
    width: 100%;
    font-size: 10pt;
    height: 10pt;
}

.wrapper .main-content .document-card a {
    display: inline-block;
    margin-top: 10px;
    color: gray;
    text-decoration: none;
    text-align: center;
    width: 100%;

    border-top: 1px solid #ddd;
    position: relative;
    bottom: 0;
}

.wrapper .main-content .document-card a:hover {
    text-decoration: underline;
}

/* Pagination 스타일 */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.pagination button:hover {
    background-color: #0056b3;
}

.pagination button.active {
    background-color: #0056b3;
    cursor: not-allowed;
}

/* reactive style */
#document-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-left: 4vw;
    margin-right: 4vw;
    justify-content: space-around;
}

/* screen size higher than 600px */
@media (min-width: 300px) {
    .document-card {
        /* 2 items */
        width: calc(50% - 4px);
    }
}

/* screen size higher than 900px */
@media (min-width: 600px) {
    .document-card {
        /* 3 items */
        width: calc(33.33% - 4px);
    }
}

/* screen size higher than 1200px */
@media (min-width: 900px) {
    .document-card {
        /* 4 items */
        width: calc(25% - 4px);
    }
}

/* screen size higher than 1500px */
@media (min-width: 1200px) {
    .document-card {
        /* 5 items */
        width: calc(20% - 8px);
    }
}
