@font-face {
    font-family: 'GyeonggiBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "Times New Roman"
}

.doc-navigator{
    position: relative;
    text-align: center;

    margin-top: 5vh;
    margin-bottom: 20vh;
}

.navigator-clicked{
    font-family: "GyeonggiBatang";
    font-size: 18pt;

    padding-left: 5pt;
    padding-right: 5pt;
    margin-left: 1mm;
    margin-right: 1mm;

    color: white;
    border: 0.5mm solid #d16060;
    background-color: #d16060;
}

.navigator-unclicked{
    font-family: "GyeonggiBatang";
    font-size: 18pt;

    padding-left: 5pt;
    padding-right: 5pt;
    margin-left: 1mm;
    margin-right: 1mm;

    border: 0.5mm solid black;
    background: transparent;
}

.navigator-unclicked:hover{
    cursor: pointer;

    color: white;
    border: 0.5mm solid #7bd781;
    background-color: #7bd781;
}