/** Fonts **/
@font-face {
    font-family: 'HSSaemaul-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSSaemaul-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'National-Museum-B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GyeonggiBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "Times New Roman";
}

a, a:link, a:visited{
	text-decoration: none;
	color: red;
}

a:hover{
	text-decoration: none;
	color: blueviolet;
}

span {
	display: inline;
}

/** Code Highlighter **/
.hljs{
	tab-size: 4;
}

.wrapper{
	height: auto;
	min-height: calc(95vh + 1pt);
}

/** SIDE MENU **/
.wrapper .sidemenu{
	position: fixed;
	left: 0;
	top: 0;
	width: 20vw;
	height: 100vh;
	background-image:
		linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
		url("../img/sidemenu2.jpeg");
	background-position: center;
	background-size: cover;
}


/**Contents */
.wrapper .sidemenu h1{
	color: white;
	font-family: "HSSaemaul-Regular";
	/*font-size: 40pt;*/
	font-size:4vw;
	font-style: italic;

	text-shadow:
		1px 1px 0 black,
		2px 2px 0 yellow,
		3px 3px 0 red;

	padding-left: 1.5vw;
}

/** LISTING **/
.sidemenu .button{
	/*font-family: "HSSaemaul-Regular";*/
	font-family: "National-Museum-B";
	letter-spacing: 1px;
	/*font-size: 12pt;*/
	font-size: calc(0.8vw + 0.6vh);

	margin-left: 3vw;
	margin-top: 1vh;

	height: calc(3vh + 1vw);
	width: 13vw;
	border: 0.5px solid white;
	border-radius: 5px;

	/*background: #71E38B;*/
	/*background: black;*/
	background: rgba(0,0,0, 0.5);
	/*color: rgb(105, 250, 23);*/
	color: #00E0FF;
}

.sidebar .button:hover{
	color: white;
	border: 0;
	box-shadow: 0 0 4px #32F1FF, 0 0 6px #32F1FF, 0 0 15px #32F1FF;
	background: transparent;

	cursor: pointer;

	animation-duration: 1s;
	animation-name: pointing;
	animation-fill-mode: forwards;

}

@keyframes pointing{
	from{
		margin-left: 3vw;
	}
	to{
		margin-left: 4.5vw;
	}
}


/** PROFILE **/
.profile div{
	height: 30vh;
}

.sidebar .profile-img{
	display: block;

	margin-top: 5vh;
	margin-left: auto;
	margin-right: auto;

	width: 8vw;
	height:8vw;
	border-radius: 50%;
}

.sidemenu .profile p{
	color: white;
	text-align: center;

	margin-top: 1vh;
	font-size: 14pt;
}

.sidemenu .profile .profile-msg{
	color: #C2C2C2;
	font-size: 12pt;
	font-style: italic;
}


/** Social Media **/
.sidemenu .social-media {
	/*position: absolute;*/

	/*left:50%;*/
	/*transform: translate(-50%);*/ /*absolute center*/
	/*bottom: 10vh;*/

	position: relative;

	margin-left: 3vw;
	margin-top: 1vh;
	width: 15vw;
	text-align: center;

	font-size: 20pt;
}

.sidemenu .social-media a:hover{
	color: red;
}

.home-heading .head-btn{
  cursor: pointer;
}

/** LANGUAGE SWITCH **/

.wrapper .lang-switch{
	text-align: left;
	margin-left: 61vw;
	margin-right: 10vw;

	width: 9vw;
	height: 22pt;
	border-radius: 20px;

	background-image:
		linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
		url("../img/korea.png");
	background-size: cover;
	background-position-y: center;

	padding-top: 5px;
	padding-bottom: 5px;

	padding-right: 0.5vw;
	padding-left: 0.5vw;
}

.lang-detail{
	font-family: "GyeonggiBatang";
	font-size: min(1.2vw, 16pt);
	font-weight: bold;

	width: 4.5vw;
	height: 21pt;

	box-shadow: 0 0.15em 0 black;

	border-radius: 15px;
	background-color: rgba(255,255,255,0.8);
	border: 1px solid black;
	outline: none;
}

.eng-text{
	display: none;
}

.kor-text{
	display: inline-block;
}


/** CHANGE MODE **/
#color-mode-change {
	position: fixed;
	left: 90%;
	right:  auto;
	bottom: 5%;
	top: auto;
	background-color: transparent;
	border: 0;
	font-size: 30pt;
}

#mode-light{
	display: inline-block;
	color: #FF7800;
}

#mode-dark{
	display: none;
	color: #FFF200;
}


/** MAIN CONTENTS **/

.wrapper .main-content{
	position: relative;
	margin-left: 20vw;
	margin-top: 0vw;
	padding-top: 1.1in;
}

.main-content h2{
	font-family: "GyeonggiBatang";
	font-size: 28pt;
	padding-top: 7vh;
	margin-bottom: 8vh;

	position: relative;
	margin-left: 8vw;
	margin-right: 8vw;
	width: 60vw;
	text-align: center;
	/*left: 50%;
	transform: translateX(-50%);*/
}

.main-content h3{
	font-family: "GyeonggiBatang";
	font-size: 24pt;
	margin-left: 8vw;
}

.wrapper .main-content p{
	position: relative;
	font-family: "GyeonggiBatang";
	font-size: 15pt;

	margin-left: 8vw;
	margin-right: 8vw;
	width: 60vw;

	padding-top: 2vh;
	padding-bottom: 2vh;

	line-height:22pt;
	text-align:justify;
}

.main-content .comment-section{
	margin-left: 6vw;
	margin-right: 6vw;
}


/** HOME HEADING **/
.wrapper .home-heading{
	position: fixed;
	margin-left: 20vw;

	/*background: #BBF581;*/
	background: black;
	opacity:1.0;

	width: 80vw;
	height: 0.85in;
	/*height: 9.5vh;*/
	z-index: 1;
}

.wrapper .home-heading p{
	color: white;
	padding-top: 0.15in;
	text-align: center;
	font-size: 15pt;
}

.wrapper .home-heading .spacing{
	letter-spacing: 1vw;
}

.wrapper .home-heading h1{
	color:white;
	font-style:italic;
	text-align:center;
	padding-top: 5pt;
	letter-spacing: 3pt;
}

.wrapper .home-heading h1:after{
	content: " ";
	border-right: 2pt solid;
	border-right-color: white;
	animation: blink 1.0s infinite;
}

@keyframes blink{
	50% {opacity: 0%;}
}

#code-canvas{
	margin-left: 12vw;
	margin-right: 12vw;
	border-radius: 10px;
	font-size: 13pt;
}

#code-word{
	font-size: 13pt;
	padding: 2px 2px 2px 2px;
	background: rgb(227, 230, 232);
	border-radius: 3px;
}

#code-title{
	font-weight: normal;
	font-size: 18pt;
	padding: 5px 5px 5px 5px;
	background: rgb(227,230,232);
	border-radius: 8px;
}

/** Subject Info **/
.subj-gate{
	float: left;
	margin-top: 1em;
	margin-left: 8vw;

	width: max(8vw, 8vh);
	height: min(8vw, 8vh);
	background: skyblue;
	border-radius: 20px;

	box-shadow: 0 0 0 3px #ee6352,
				0 0 0 6px #a4558f,
				0 0 0 9px #405378;
	background-color: white;

	font-family: "GyeonggiBatang";
	font-size:  16pt;
	text-align: justify;
	padding-top: 4vh;
	padding-left: 0.5vw;
	padding-right: 0.5vw;
	text-align: center;
}

.subj-info{
	margin-top: 1em;
	margin-left: 12vw;
	width: 51vw;
	height: 13vh;
	/* background: #777;*/

	padding-top: 15px;
	padding-left: max(8vw, 8vh);
	padding-right: 2vw;
	border: 2px solid black;
	border-radius: 5px;

	font-family: "GyeonggiBatang";
	font-size: 16pt;
}

.up-date{
	color: #777;
	font-size: 13pt;
}

/** Documents List **/
.doc-list{
	/*word-break: break-all;*/
	white-space: pre-line;
	color: black;
}

.doc-content{
	position: relative;
	font-family: "GyeonggiBatang";
	font-size: 18pt;

	margin-left: 15vw;
	margin-right: 15vw;
	padding-bottom: 3mm;
	width: 48vw;

	line-height: 22pt;
	text-align: justify;
}

.doc-content .up-date{
	color: #070707;
	font-size: 16pt;
}

/* Footer */
.footer{
  margin-left: 20vw;
	padding-top: 0.1in;
	width: auto;
	height: 0.5in;

  /* footer text color */
  color: #888888;

	position : relative;
  z-index: -5;
	text-align: center;
}
